<!DOCTYPE html>
<html>
<head>
	<title>Add Player:</title>
 	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<!-- css files -->
  	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	<link th:href="@{/css/fileinput.css}" media="all" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/fileinput.min.css}" media="all" rel="stylesheet" type="text/css" />
	
	<!-- js files -->
  	<script th:src="@{/js/jquery/jquery.min.js}"></script>
  	<script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
  	<script type="text/javascript" th:src="@{/js/jquery/fileinput.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery/fileinput.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery/theme.js}"></script>
  	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/addplayer.js}"></script>
	<script type="text/javascript" th:src="@{/js/additional-methods.js}"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.min.js"></script>
	
</head>
<body>
<div class="form-group">
<div class="row">
	<div class="col-xs-4">
		<nav class="col-sm-3" id="myScrollspy">
      		<ul class="nav nav-pills">
      			<li class="active"><a th:href="@{/home}">Home</a></li>
        		<li class="active"><a th:href="@{/}">Add Country</a></li>
		        <li class="active"><a th:href="@{/game/addGame}">Add Game</a></li>
		        <li class="active"><a th:href="@{/player/addPlayer}">Add Player</a></li>
		    </ul>   		 
      	</nav>
      	</div>
	</div>
	<div>
	<h1 align="center">ADD Player :</h1>
		<div class="alert alert-success" th:if="${successMsg != null}">
			 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 			 <strong>Success!</strong><p  th:text="${successMsg}"></p>.
		</div>
		<div class="alert alert-info" th:if="${errorMsg != null}">
			 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 			 <strong>Info!</strong><p  th:text="${errorMsg}"></p>.
		</div>
	      <form class="form-horizontal" role="form" th:action="@{/player/addPlayer}" id="addplayer" th:object="${player}" method="post" enctype="multipart/form-data">
	 	    <table style="margin-left:20px;">
	 	    	  <tr>
                      <td>
                      	<div class="form-group row" th:if="${edited == null}">
	                    	<label class=" col-sm-4" for="countrylist">Select Country:</label>
						 		<div class="col-sm-8">
							 		<select class="form-control" id="countrylist" name="countryId" required="required">
									 	<option th:value="-1">select country</option>
										<option th:each="country, status : ${countrylists}" th:value="${country.id}" 
											th:text="${country.name}"> 
										</option>
	                     			</select>  
                     			</div> 
                     	</div>
                     	<div class="form-group row" th:if="${edited != null}">
	                    	<label class=" col-sm-4" for="countrylist">Select Country:</label>
						 		<div class="col-sm-8">
							 		<select class="form-control" id="countrylist" name="countryId" required="required">
									 	<option th:value="-1">select country</option>
										<option th:each="country, status : ${countrylists}" th:value="${country.id}" 
											th:text="${country.name}" th:selected="${country.name}"> 
										</option>
	                     			</select>  
                     			</div> 
                     	</div>
                      </td>	
                 </tr>
                 <tr>
                      <td>
                      		<div id="gameOptId" class="form-group row" th:if="${edited != null}">
		                		<th:block th:fragment="gameListFragment">
									<label class=" control-label col-sm-4" for="tdId">Select Game:</label>
										<select class="form-control" id="tdId" name="gameId" onchange="getPlayerList(this)">
											<option th:value="-1">select game</option>
											<option th:each="countryGame : ${countryGames}" th:value="${countryGame.game.id}"
							     			 	th:selected="${countryGame.game.gameName}" th:text="${countryGame.game.gameName}"></option>
							    		</select>
						    	</th:block>
	                       </div> 
	                    	
	                    <div id="gameOptId" class="form-group row" th:if="${edited == null}">
		                	<th:block th:fragment="gameListFragment">
								<label class=" col-sm-4" for="tdId">Select Game:</label>
									<div class="col-sm-8"> 
										<select class="form-control" id="tdId" name="gameId" onchange="getPlayerList(this)">
											<option th:value="-1">select game</option>
											<option th:each="countryGame : ${countryGames}" th:value="${countryGame.game.id}"
										      	th:selected="${countryGame.game.gameName}" th:text="${countryGame.game.gameName}"></option>
									    </select>
									 </div>
						    </th:block>
	                    </div>	
                     </td>	
                 </tr>
                 <!-- from AJAX; -->
                 	<!-- <tr> 
                      <td>
	                    <div id="tdId">
	                	<th:block th:fragment="gameListFragment">
							<b>Select Game:</b>
							<select  name="gameId" onchange="getPlayerList(this)">
							<option th:value="-1">select game</option>
							<option th:each="countryGame : ${countryGames}" th:value="${countryGame.game.id}"
						         th:selected="${countryGame.game.gameName}" th:text="${countryGame.game.gameName}"></option>
						    </select>
					    </th:block>				
	                </div>	
                      </td>	
                 </tr> -->
                  <tr>
                     <td>
                     	 <div class="form-group row">
						    <label class="col-sm-4" for="player Name">PlayerName:</label> 
                              <div class="col-sm-8">
                               	<input class="form-control" type="text" th:field="*{playerName}" required="true"/>
                         	  </div>
                         </div>
                     </td>
                  </tr>
                  <tr>	
                     <td>
                     	<div class="form-group row">
                     		<label class="col-sm-4" for="matche">Matches:</label>
						 		<div class="col-sm-8">
						 			<select class="match form-control" th:field="*{matches}"></select>
                     	 		</div>
                     	 </div>
                     </td>
                   </tr>
                  <tr>
                      <td>
                       	  <div class="form-group" style="width:550px;height:100px;">
                      		 <label class="col-sm-4"  for="file">Add Image :</label>
                      		 	<div class="col-sm-8">
               						<input id="photo" class="file" data-upload-url="#" type="file" name="file"/>
               		 	  		</div>
               		 	   </div>
               		  </td>
                  </tr>
                  <tr>
                  	  <td>
                 	  	 <div class="form-group">
                			<div class="col-sm-offset-2 col-sm-10">
                 	  			<input id="click" class="btn btn-default"  type="submit" value="submit" />
                 	  		</div>
                 	  	</div>
                  	  </td>
                  </tr>
               </table>
             </form>
            </div>    
         </div>     
      </body>
</html>
 