<!DOCTYPE html>
<html>
<head>
<title>player Information</title>
	<meta charset="ISO-8859-1" />
	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1" />
 	
 	<!-- css files -->
 	
 	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	<link rel="stylesheet" th:href="@{/css/playerdetail.css}" />
	<!-- js files -->
	
	<script th:src="@{/js/playerdetail.js}"></script>
 	<script th:src="@{/js/jquery/jquery.min.js}"></script>
 	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
 	
</head>
<body>
<div class="container">

	<div class="col-xs-4">
		<nav class="col-sm-3" id="myScrollspy">
      		<ul class="nav nav-pills">
      			<li class="active"><a th:href="@{/home}">Home</a></li>
        		<li class="active"><a th:href="@{/}">Add Country</a></li>
		        <li class="active"><a th:href="@{game/addGame}">Add Game</a></li>
		        <li class="active"><a th:href="@{player/addPlayer}">Add Player</a></li>
		    </ul>   		 
      	</nav>
      	</div>

<div id="allplayerdata" class="row">

	        <th:block th:fragment="allplayerListFragment">	
	        
		   <div class="pull-left " id="playerrecord" th:each="player, status : ${players}">
   				 <img class="img img-rounded" alt="Cinque Terre" th:src="@{'/player/getImage?filePath=' + ${player.image.imagePath}}" height="150px" width="150px"/>
  			
  			<div class="pull-right" style="margin:15px;">
  				<table>
  					<input type="hidden" th:field="*{id}" th:if="${edited != null}" />
  						<tr>
  							<td class="text">Country Name :</td> 
		 			 		<td th:text="${player.country.name}"></td>
		 			 	</tr>
		 			 	<tr>
		 			 		<td class="text">Game Name :</td> 
		 			 		<td th:text="${player.game.gameName}"></td>
		 			 	</tr>
						<tr>
							<td class="text">Player Name :</td> 
							<td th:text="${player.playerName}"></td>
						</tr>
						<tr>
							<td class="text">Matches :</td>
							<td th:text="${player.matches}"></td>
						</tr>
						<tr> 
							<td><button class="btn btn-link"><a th:href="@{'/player/update/' + ${player.id}}">edit</a></button></td>
							<td><button class="btn btn-link"><a th:href="@{'/player/delete/' + ${player.id}}">delete</a></button></td>
							<td><button id="btn" name="X" class="btn btn-link" th:onclick="'javascript:delplayer(\''+  ${player.id} + '\');'">X</button></td>
						</tr>
				</table>       <!-- onclick="javascript:getContactId('${contact.id}');" 
									th:onclick="'javascript:delplayer(\'' + ${player.id} + '\');'"-->
			 </div>					
  			 </div>
		   </th:block>
       </div>
	</div>

</body>
</html>