<!DOCTYPE html>
<html>
<head>
	<title>Add Game</title>
	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
  	<!-- css files -->
  	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	
	<!-- js files -->
  	<script th:src="@{/js/jquery/jquery.min.js}"></script>
  	<script src="/js/jquery/jquery.validate.min.js"></script>
  	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/index.js}"></script>
	<script type="text/javascript" th:src="@{/js/game.js}"></script>
</head>
<body>
<div class="row">
	<div class="col-xs-4">
		<nav class="col-sm-3" id="myScrollspy">
      		<ul class="nav nav-pills">
      			<li class="active"><a th:href="@{/home}">Home</a></li>
        		<li class="active"><a th:href="@{/}">Add Country</a></li>
		        <li class="active"><a th:href="@{/game/addGame}">Add Game</a></li>
		        <li class="active"><a th:href="@{/player/addPlayer}">Add Player</a></li>
		    </ul>   		 
      	</nav>
      	</div>
	</div>
	<div>
	<h1 align="center">ADD Game :</h1>
		<div class="alert alert-success" th:if="${successMsg != null}" >
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 	<strong>Success!</strong><p th:text="${successMsg}"></p>.
		</div>
		<div class="alert alert-info" th:if="${errorMsg != null}" >
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
 		 	<strong>Info!</strong><p th:text="${errorMsg}"></p>.
		</div>
			<form class="form-horizontal" th:action="@{/game/addGame}" id="addgame" th:object="${gameDTO}" method="post" novalidate="novalidate">
	 	    	<table>
                   <tr>
                      <td>
                      	  <input type="hidden" th:field="*{id}" th:if="${edited != null}"/>
                      	  <input type="hidden" th:field="*{countryGame}" th:if="${edited != null}" />
                      	  
                      	  <div class="form-group row">
	                    	  <label class="col-sm-4" for="gameName">GameName:</label>
	                    	 	 <div class="col-sm-8">
		                          	<input class="form-control" th:field="*{gameName}" type="text" required="true" th:if="${edited != null}"/>
		               	           	<input class="form-control" th:field="*{gameName}" type="text" required="true" th:if="${edited == null}"/>
	                        	</div>
                          </div>
                      </td>
                  </tr>
                  <tr>
                     <td th:if="${edited != null}">
                     	<div class="form-group row">
	                    	<label class=" col-sm-4"  for="tdId">Select Country:</label>
	                    		<div class="col-sm-8">
			                     	 <select class="form-control" id="selectOpt" name="countryId" >
			                     	 	<option th:value="-1" required="true">select country</option>
										<option th:each="gamecountry, status : ${gamecountry}" th:value="${gamecountry.country.id}"
			              		 			th:text="${gamecountry.country.name}" th:selected="${gamecountry.country.name} eq ${gameDTO.countryName}" ></option>
			                     	</select>  
	                     		</div>
	                     </div>
                      </td>	
                      <td th:if="${edited == null}">
                      	<div class="form-group row">
	                     	<label class=" col-sm-4">SelectCountry:</label>
	                     		<div class="col-sm-8">
			                     	 <select class="form-control" id="selectOpt" name="countryId" >
			                     	 	<option th:value="-1" required="true">select country</option>
										<option th:each="gamecountry, status : ${getallcountry}" th:value="${gamecountry.id}"
			              		 			th:text="${gamecountry.name}" th:selected="${gamecountry.name}" ></option>
			                     	</select>  
			                    </div>
			             </div>
                      </td>	
                 </tr>
                 <tr>
                	<td>
                		<div class="form-group">
	                		<div class="col-sm-offset-2">
	                			<input class="btn btn-default" type="submit" value="Submit" />
	                		</div>
                		</div> 
                	</td>
                 </tr>
              </table>
                 <h3>game List</h3>
                  <div class="table-responsive">
					 <table id="ondelete" class="table table-condensed" align="center" style="width:850px;">
						<thead>
							<tr>
									<th>Sr No.</th>
									<th>gameName</th>
									<th>countryName</th> 
									<th>Edit</th>
									<th>Delete</th>
									<!-- <th>x</th> -->
							</tr>
						</thead>
						<tbody>
							<tr th:each="gamecountry, status : ${gamecountry}">
								<td th:text="${status.index + 1}"></td>
								<td th:text="${gamecountry.game.gameName}" ></td>
	 							<td th:text="${gamecountry.country.name}"></td>	 
								<td><a th:href="@{'/game/update/' + ${gamecountry.id}}" 
										onClick="return confirm('Are you want to edit?')">
										<span>Edit</span>
									</a>
								</td>
								<td><a th:href="@{'/game/delete/' + ${gamecountry.id}}"
										onClick="return confirm('Are you absolutely sure you want to delete?')">
											<span>Delete</span>
									</a>
								</td>
								<!-- <td>
								 <a href="#" id="delete" onclick="javascript:ondelete('${gamecountry.id}');">delete</a>
								</td> -->
							</tr>
					</tbody>
            	</table>
             </div>
		</form>
		</div>
	</body>
</html>