<!DOCTYPE html>
<html>
<head>
<title>player Information</title>
	<meta charset="ISO-8859-1" />
	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1" />
 	
 	<!-- css files -->
 	
 	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	
	<!-- js files -->

 	<script th:src="@{/js/jquery/jquery.min.js}"></script>
 	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
 	
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>

</body>
</html>