<!DOCTYPE html>
<html>
<head>
<title>player Information</title>
	<meta charset="ISO-8859-1" />
	<meta charset="utf-8" />
 	<meta name="viewport" content="width=device-width, initial-scale=1" />
 	
 	<!-- css files -->
 	
 	<link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	
	<!-- js files -->

 	<script th:src="@{/js/jquery/jquery.min.js}"></script>
 	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
 	
<script type="text/javascript" th:src="@{/js/index.js}"></script>
</head>
<body>
<div class="row">
	<div class="col-xs-4">
		<nav class="col-sm-3" id="myScrollspy">
      		<ul class="nav nav-pills">
      			<li class="active"><a th:href="@{/home}">Home</a></li>
        		<li class="active"><a th:href="@{/}">Add Country</a></li>
		        <li class="active"><a th:href="@{game/addGame}">Add Game</a></li>
		        <li class="active"><a th:href="@{player/addPlayer}">Add Player</a></li>
		    </ul>   		 
      	</nav>
      	</div>
	</div>


<div id="playerlist" class="row">
			<div class="col-xs-12">
		    
	        <th:block th:fragment="playerListFragment">	
		   <div class="pull-left" th:each="player, status : ${players}">
  				<a target="_self" onclick="playerlist">
  			
   				 <img class="img" th:src="@{'/player/getImage?filePath=' + ${player.image.imagePath}}" height="150px" width="150px"/>
  				</a>
 			 <div class="desc">
 			 	<table>
		 			 		<!--  <li th:text="${player.country.name}"></li>-->
		 			 		<!--  <li th:text="${player.game.gameName}"></li>-->
						<tr>
							<td class="text">Name :</td> 
							<td th:text="${player.playerName}"></td>
						</tr>
						<tr>
							<td class="text">Matches :</td>
							<td th:text="${player.matches}"></td>
						</tr>
				</table>
  			 </div>
		    </div>
		   </th:block>
        </div>
        </div>
</body>
</html>